body {
    font-family: Arial, sans-serif;
    background-image: url('login.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(44, 62, 80, 0.9); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 300px;
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 93%;
    padding: 10px;
    border: none;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #1abc9c;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #16a085;
}

p {
    text-align: center;
    margin-top: 10px;
}

a {
    color: #1abc9c;
}


input:focus, button:focus {
    outline: 2px solid #1abc9c;
    outline-offset: 2px;
}
